
<h1>All Bottles</h1>

<div class="row">

<%= form_tag(bottles_path, method: :get) do %>
<%= text_field_tag(:name, params[:name]) %>
<%= submit_tag ("Search") %>
<% end %>

<% @bottles.each do |b| %>

<h2><%= link_to b.name, bottle_path(b) %></h2>
</div>
<% end %>



<%= link_to "Add Bottle", new_bottle_path %>
