<h1>New Bottle</h1>

<%= simple_form_for @bottle do |f| %>
<%= select_tag(:category_id, options_for_select(["Red", "White", "Rosé", "Sparkling", "Dessert"]), :prompt => "Select a category") %>
<%= f.input :name %>
<%= f.input :variety %>
<%= f.input :year, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year, discard_day: true, discard_month: true %>
<%= f.input :producer %>
<%= f.input :price_cents, label: "Price in USD" %>
<%= f.submit "Add Bottle"%>



<% end %>
