<h2><%= @bottle.name %></h2>
<br>
<h4>Variety:</h4>
<h3><%= @bottle.variety %></h3>
<br>
<h4>Year:<h4>
<h3><%= @bottle.year.year %></h3>
<br>
<h4>Producer:</h4>
<h3><%= @bottle.producer %></h3>
<br>
<h4>Price:</h4>
<h3>$<%= @bottle.price_cents %></h3>
<br>
<h4>Tasting Notes</h4>
<%= render @bottle.comments %>
<br>

<!-- <a href="#" onclick="displayCommentForm(); return false;">Add comment</a> -->

<div>
<%= link_to "Add Tasting Notes", new_bottle_comment_path(@bottle) %>
</div>
<br>

<% if logged_in? %>
<% if @bottle.user_id == current_user.id %>

<%= link_to 'Edit Bottle', edit_bottle_path(@bottle) %>
<br>
<%= link_to 'Delete Bottle', bottle_path(@bottle), method: :delete%>

<% end %>
<% end %>
