<div class="col-md-6 col-md-offset-3">

  <div class="signup-form">

<%= simple_form_for @user do |f| %>

<div class="form-inputs">
<%= f.input :username, label: 'Please create a username', error: 'Username is mandatory, please specify one' %>
<%= f.input :password %>
<%= f.input :email %>
</div>

<div class="form-actions">
<%= f.submit "Sign Up" %>
</div>
<% end %>

    </div>

</div>
